/* Default Print Stylesheet Template
   by Rob Glazebrook of CSSnewbie.com
   Last Updated: June 4, 2008

   Feel free (nay, compelled) to edit, append, and
   manipulate this file as you see fit. */


/* SECTION 1: Set default width, margin, float, and
   background. This prevents elements from extending
   beyond the edge of the printed page, and prevents
   unnecessary background images from printing */

* {
	-webkit-print-color-adjust: exact;
}

body {
	font-size: 18pt;
	width: auto;
	height: auto;
	border: 0;
	padding: 0;
	float: none !important;
	overflow: visible;
	text-align: left;
}

html {
	width: 100%;
	height: 100%;
	overflow: visible;
}

@page {
	size: a4 landscape;
	margin:10;
}

/* SECTION 2: Remove any elements not needed in print.
   This would include navigation, ads, sidebars, etc. */
.nestedarrow,
.controls,
.reveal .progress,
.reveal.overview,
.fork-reveal,
.share-reveal,
.state-background {
	display: none !important;
}

/* SECTION 3: Set body font face, size, and color.
   Consider using a serif font for readability. */
body, p, td, li, div {
	text-align: left;
    font-family: "Helvetica 45 Light", sans-serif;
	font-size: 18pt;
}

/* SECTION 4: Set heading font face, sizes, and color.
   Diffrentiate your headings from your body text.
   Perhaps use a large sans-serif for distinction. */
h1,h2,h3,h4,h5,h6 {
	text-align: left;
    font-family: "Helvetica 45 Light", Impact, sans-serif;
}

h1, h2 {
    color: #ff6600;
}

h1{
    margin-top: 25%;
	font-size: 60pt;
    margin-bottom: 10px;
}

h2{
    font-size: 1.9em;
    margin-top: 0.5em;
}

h3{
    margin-top: 0.4em;
    margin-bottom: 0.3em;
}

h4{
    margin-top: 0.3em;
    margin-bottom: 0.1em ;
}

/*********************************************
 * Orange list style
 *********************************************/


.reveal ul{
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
    display: table;
}

.reveal li{
    padding-left: 1.5em; 
}


.reveal li:before,
.reveal li li:before ,
.reveal li li li:before ,
.reveal li li li:before ,
.reveal li li li li:before ,
.reveal li li li li li:before 
{
    position: absolute;
    color: #f60;
    left: 0;
}
.reveal li:before { content: "•"; }
.reveal li li:before { content: "▪"; }
.reveal li li li:before { content: "◆"; }
.reveal li li li li:before { content: "∘"; }
.reveal li li li li li:before { content: "▫"; }
.reveal li li li li li li:before { content: "◇"; }

/*********************************************
 * Page de titre
 *********************************************/

.reveal .title{
	text-align: left;
	margin-top: 20%;
}

.reveal .title h1 {
    margin-top:200px;
}

.reveal .title h2 {
    margin-top:0px;
    margin-bottom:0px;
}

.reveal .title h1,
.reveal .title h2,
.reveal .title h3,
.reveal .title p
 {
    margin-left: 10%;
}

.reveal .intercalaire{
	margin-top: 20%;
}

.reveal .intercalaire h1{
    font-size: 2.5em;
    margin-left: 50px;
	margin-top: 50px;
}
.reveal .intercalaire h1:before { content: "‣"; }

/*********************************************
 * Centrer un element
 *********************************************/

.center{
    text-align:center;
    margin: auto auto;
    width: 100%;
}

/*********************************************
 * Orange question page style
 *********************************************/

.reveal .question_centree:before{
    float: left;
    margin:10px;
    content: url(../../images/theme_fablab/the-question-mark.png);
}
.reveal .question_centree{
    text-align:center;
    line-height:4em;
}

/*********************************************
 * Images
 *********************************************/

.reveal .float_img{
    float: right;
    margin:10px;
    max-height: 350px;
    max-width: 100%;
}

.reveal img{
    margin:10px;
    max-height: 350px;
    max-width: 100%;
}

/*********************************************
 * Orange list style
 *********************************************/


.reveal .quizz {
    width: 100%;
}

.reveal .quizz ol{
    list-style-type: upper-latin;
}
.reveal .quizz li{
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    margin: 3px;
    padding: 5px;
    display: inline-block;
    width: 45%;
}
.reveal .quizz li:before {
    content: "";
}

.reveal .quizz .vrai {
    border-width: medium;
    font-weight: bold;
    color: green;
}

.reveal .quizz .faux {
    color: gray;
    margin: 5px;
}



/* SECTION 5: Make hyperlinks more usable.
   Ensure links are underlined, and consider appending
   the URL to the end of the link for usability. */
a:link,
a:visited {
    color: black;
	text-decoration: underline;
}


/* SECTION 6: more reveal.js specific additions by @skypanther */
ul, ol, div, p {
	visibility: visible;
	position: static;
	width: auto;
	height: auto;
	display: block;
	overflow: visible;
	margin: auto;
}
.reveal .slides {
	position: static;
	width: 100%;
	height: auto;

	left: auto;
	top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	padding: auto;

	overflow: visible;
	display: block;

	text-align: center;

	-webkit-perspective: none;
	   -moz-perspective: none;
	    -ms-perspective: none;
	        perspective: none;

	-webkit-perspective-origin: 50% 50%; /* there isn't a none/auto value but 50-50 is the default */
	   -moz-perspective-origin: 50% 50%;
	    -ms-perspective-origin: 50% 50%;
	        perspective-origin: 50% 50%;
}

.reveal .slides section {

	visibility: visible !important;
	position: static !important;
	width: 100% !important;
	height: auto !important;
	min-height: initial !important;
	display: block !important;
	overflow: visible !important;

	left: 0 !important;
	top: 0 !important;
	margin-left: 0px !important;
	margin-top: 50px !important;
	padding: 20px 0px !important;

	opacity: 1 !important;

	-webkit-transform-style: flat !important;
	   -moz-transform-style: flat !important;
	    -ms-transform-style: flat !important;
	        transform-style: flat !important;

	-webkit-transform: none !important;
	   -moz-transform: none !important;
	    -ms-transform: none !important;
	        transform: none !important;
            
    background: url("../../images/theme_fablab/logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
	page-break-after: always !important;
}
.reveal section.stack {
	margin: 0px !important;
	padding: 0px !important;
	page-break-after: avoid !important;
}
.reveal section .fragment {
	opacity: 1 !important;
	visibility: visible !important;

	-webkit-transform: none !important;
	   -moz-transform: none !important;
	    -ms-transform: none !important;
	        transform: none !important;
}
.reveal img {
	box-shadow: none;
}
.reveal .roll {
	overflow: visible;
	line-height: 1em;
}
.reveal small a {
	font-size: 16pt !important;
}
